In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("./All_data_behavior_restored.csv")

In [4]:
df.head()

,Unnamed: 0,dataset_id,id,acceptedNameUsage,acceptedNameUsageID,accessRights,aphiaid,areas,associatedMedia,associatedOccurrences,...,vitality,waterBody,wrims,year,originalScientificName,flags,dropped,absence,Behavior_mapped,Behavior_filled
0,0,a198615f-05a3-4543-adc0-5a03ff1ba8f0,a4335478-0603-47a5-9e9c-7f4e08d9f90d,NaN,NaN,NaN,313100,"[238, 10266, 40034, 34275]",NaN,NaN,...,NaN,NaN,NaN,NaN,Stegostoma fasciatum,[NO_DEPTH],False,False,NaN,migrating
1,1,a198615f-05a3-4543-adc0-5a03ff1ba8f0,d1b25407-a2e5-4dca-b681-dde7adeaaace,NaN,NaN,NaN,105789,"[59, 60, 10053, 10101, 20001]",NaN,NaN,...,NaN,NaN,NaN,NaN,Carcharhinus falciformis,[NO_DEPTH],False,False,NaN,migrating
2,2,a198615f-05a3-4543-adc0-5a03ff1ba8f0,875f115c-d422-47c9-8fdc-5422f777a752,NaN,NaN,NaN,214557,"[70, 85]",NaN,NaN,...,NaN,NaN,NaN,NaN,Triaenodon obesus,"[NO_DEPTH, ON_LAND]",False,False,NaN,resting
3,3,a198615f-05a3-4543-adc0-5a03ff1ba8f0,1fab5e50-4cd1-4bfc-a354-dd8cf6610cac,NaN,NaN,NaN,105721,"[70, 85]",NaN,NaN,...,NaN,NaN,NaN,NaN,Negaprion,"[NO_DEPTH, ON_LAND]",False,False,NaN,resting
4,4,a198615f-05a3-4543-adc0-5a03ff1ba8f0,c7678960-fb37-4297-9432-e740abad7980,NaN,NaN,NaN,214557,"[70, 85]",NaN,NaN,...,NaN,NaN,NaN,NaN,Triaenodon obesus,"[NO_DEPTH, ON_LAND]",False,False,NaN,resting

In [5]:
df = df.dropna(axis=1)

In [6]:
df.to_csv("All_data_behavior_restored_v2.csv")

In [7]:
# One-hot encode only the 'Color' column
df_encoded = pd.get_dummies(df, columns=['Behavior_filled'])

print(df_encoded)

     Unnamed: 0                            dataset_id  \
0             0  a198615f-05a3-4543-adc0-5a03ff1ba8f0
1             1  a198615f-05a3-4543-adc0-5a03ff1ba8f0
2             2  a198615f-05a3-4543-adc0-5a03ff1ba8f0
3             3  a198615f-05a3-4543-adc0-5a03ff1ba8f0
4             4  a198615f-05a3-4543-adc0-5a03ff1ba8f0
..          ...                                   ...
655         655  a198615f-05a3-4543-adc0-5a03ff1ba8f0
656         656  a198615f-05a3-4543-adc0-5a03ff1ba8f0
657         657  a198615f-05a3-4543-adc0-5a03ff1ba8f0
658         658  a198615f-05a3-4543-adc0-5a03ff1ba8f0
659         659  a198615f-05a3-4543-adc0-5a03ff1ba8f0

                                       id  aphiaid  \
0    a4335478-0603-47a5-9e9c-7f4e08d9f90d   313100
1    d1b25407-a2e5-4dca-b681-dde7adeaaace   105789
2    875f115c-d422-47c9-8fdc-5422f777a752   214557
3    1fab5e50-4cd1-4bfc-a354-dd8cf6610cac   105721
4    c7678960-fb37-4297-9432-e740abad7980   214557
..                                    ...      ...
655  3d2ae3c3-2dd2-4c15-ad09-bdac861cb83c  1382142
656  6b63a142-e6fe-4221-8145-e4853f0f81ef   214557
657  662a9811-13b6-4cb8-ba1f-d73e31ff88bf   214557
658  e8d1f59d-1a4e-45d6-b1d7-c30c42de1e29   214557
659  279d510e-5c2e-4d0d-b189-0b43688cbc77   214557

                             areas     basisOfRecord  bathymetry  brackish  \
0       [238, 10266, 40034, 34275]  HumanObservation        25.0      True
1    [59, 60, 10053, 10101, 20001]  HumanObservation       119.0     False
2                         [70, 85]  HumanObservation        -3.0     False
3                         [70, 85]  HumanObservation       -10.0      True
4                         [70, 85]  HumanObservation       -24.0     False
..                             ...               ...         ...       ...
655                    [68, 31910]  HumanObservation        22.0     False
656                    [68, 31910]  HumanObservation        22.0     False
657                    [68, 31910]  HumanObservation        22.0     False
658                    [68, 31910]  HumanObservation        22.0     False
659                    [68, 31910]  HumanObservation        22.0     False

              class  classid  ... subclassid   subphylum  subphylumid  \
0    Elasmobranchii    10193  ...     368407  Vertebrata       146419
1    Elasmobranchii    10193  ...     368407  Vertebrata       146419
2    Elasmobranchii    10193  ...     368407  Vertebrata       146419
3    Elasmobranchii    10193  ...     368407  Vertebrata       146419
4    Elasmobranchii    10193  ...     368407  Vertebrata       146419
..              ...      ...  ...        ...         ...          ...
655  Elasmobranchii    10193  ...     368407  Vertebrata       146419
656  Elasmobranchii    10193  ...     368407  Vertebrata       146419
657  Elasmobranchii    10193  ...     368407  Vertebrata       146419
658  Elasmobranchii    10193  ...     368407  Vertebrata       146419
659  Elasmobranchii    10193  ...     368407  Vertebrata       146419

       originalScientificName                flags dropped  absence  \
0        Stegostoma fasciatum           [NO_DEPTH]   False    False
1    Carcharhinus falciformis           [NO_DEPTH]   False    False
2           Triaenodon obesus  [NO_DEPTH, ON_LAND]   False    False
3                   Negaprion  [NO_DEPTH, ON_LAND]   False    False
4           Triaenodon obesus  [NO_DEPTH, ON_LAND]   False    False
..                        ...                  ...     ...      ...
655      Neotrygon australiae           [NO_DEPTH]   False    False
656         Triaenodon obesus           [NO_DEPTH]   False    False
657         Triaenodon obesus           [NO_DEPTH]   False    False
658         Triaenodon obesus           [NO_DEPTH]   False    False
659         Triaenodon obesus           [NO_DEPTH]   False    False

    Behavior_filled_eating Behavior_filled_migrating  Behavior_filled_resting
0                    False                      True                    False
1                    False                      True                    False
2                    False                     False                     True
3                    False                     False                     True
4                    False                     False                     True
..                     ...                       ...                      ...
655                  False                      True                    False
656                  False                      True                    False
657                  False                      True                    False
658                  False                      True                    False
659                  False                      True                    False

[660 rows x 53 columns]

In [8]:
df_encoded.columns

Index(['Unnamed: 0', 'dataset_id', 'id', 'aphiaid', 'areas', 'basisOfRecord',
       'bathymetry', 'brackish', 'class', 'classid', 'collectionCode',
       'coordinatePrecision', 'coordinateUncertaintyInMeters',
       'decimalLatitude', 'decimalLongitude', 'family', 'familyid',
       'footprintWKT', 'genus', 'genusid', 'infraclass', 'infraclassid',
       'infraphylum', 'infraphylumid', 'institutionCode', 'kingdom',
       'kingdomid', 'marine', 'modified', 'occurrenceID', 'occurrenceStatus',
       'order', 'orderid', 'organismQuantity', 'organismQuantityType',
       'parvphylum', 'parvphylumid', 'phylum', 'phylumid', 'scientificName',
       'scientificNameID', 'shoredistance', 'subclass', 'subclassid',
       'subphylum', 'subphylumid', 'originalScientificName', 'flags',
       'dropped', 'absence', 'Behavior_filled_eating',
       'Behavior_filled_migrating', 'Behavior_filled_resting'],
      dtype='object')

In [9]:
df_encoded["Behavior_filled_eating"]

0      False
1      False
2      False
3      False
4      False
       ...
655    False
656    False
657    False
658    False
659    False
Name: Behavior_filled_eating, Length: 660, dtype: bool

In [10]:
df_encoded["Behavior_filled_migrating"]

0       True
1       True
2      False
3      False
4      False
       ...
655     True
656     True
657     True
658     True
659     True
Name: Behavior_filled_migrating, Length: 660, dtype: bool

In [11]:
df_encoded["Behavior_filled_resting"]

0      False
1      False
2       True
3       True
4       True
       ...
655    False
656    False
657    False
658    False
659    False
Name: Behavior_filled_resting, Length: 660, dtype: bool

In [12]:
df_encoded["Behavior_filled_eating"] =  df_encoded["Behavior_filled_eating"].astype(int)
df_encoded["Behavior_filled_resting"] =  df_encoded["Behavior_filled_resting"].astype(int)
df_encoded["Behavior_filled_migrating"] =  df_encoded["Behavior_filled_migrating"].astype(int)

In [13]:
df_encoded.head()

,Unnamed: 0,dataset_id,id,aphiaid,areas,basisOfRecord,bathymetry,brackish,class,classid,...,subclassid,subphylum,subphylumid,originalScientificName,flags,dropped,absence,Behavior_filled_eating,Behavior_filled_migrating,Behavior_filled_resting
0,0,a198615f-05a3-4543-adc0-5a03ff1ba8f0,a4335478-0603-47a5-9e9c-7f4e08d9f90d,313100,"[238, 10266, 40034, 34275]",HumanObservation,25.0,True,Elasmobranchii,10193,...,368407,Vertebrata,146419,Stegostoma fasciatum,[NO_DEPTH],False,False,0,1,0
1,1,a198615f-05a3-4543-adc0-5a03ff1ba8f0,d1b25407-a2e5-4dca-b681-dde7adeaaace,105789,"[59, 60, 10053, 10101, 20001]",HumanObservation,119.0,False,Elasmobranchii,10193,...,368407,Vertebrata,146419,Carcharhinus falciformis,[NO_DEPTH],False,False,0,1,0
2,2,a198615f-05a3-4543-adc0-5a03ff1ba8f0,875f115c-d422-47c9-8fdc-5422f777a752,214557,"[70, 85]",HumanObservation,-3.0,False,Elasmobranchii,10193,...,368407,Vertebrata,146419,Triaenodon obesus,"[NO_DEPTH, ON_LAND]",False,False,0,0,1
3,3,a198615f-05a3-4543-adc0-5a03ff1ba8f0,1fab5e50-4cd1-4bfc-a354-dd8cf6610cac,105721,"[70, 85]",HumanObservation,-10.0,True,Elasmobranchii,10193,...,368407,Vertebrata,146419,Negaprion,"[NO_DEPTH, ON_LAND]",False,False,0,0,1
4,4,a198615f-05a3-4543-adc0-5a03ff1ba8f0,c7678960-fb37-4297-9432-e740abad7980,214557,"[70, 85]",HumanObservation,-24.0,False,Elasmobranchii,10193,...,368407,Vertebrata,146419,Triaenodon obesus,"[NO_DEPTH, ON_LAND]",False,False,0,0,1

In [14]:
df_encoded.columns

Index(['Unnamed: 0', 'dataset_id', 'id', 'aphiaid', 'areas', 'basisOfRecord',
       'bathymetry', 'brackish', 'class', 'classid', 'collectionCode',
       'coordinatePrecision', 'coordinateUncertaintyInMeters',
       'decimalLatitude', 'decimalLongitude', 'family', 'familyid',
       'footprintWKT', 'genus', 'genusid', 'infraclass', 'infraclassid',
       'infraphylum', 'infraphylumid', 'institutionCode', 'kingdom',
       'kingdomid', 'marine', 'modified', 'occurrenceID', 'occurrenceStatus',
       'order', 'orderid', 'organismQuantity', 'organismQuantityType',
       'parvphylum', 'parvphylumid', 'phylum', 'phylumid', 'scientificName',
       'scientificNameID', 'shoredistance', 'subclass', 'subclassid',
       'subphylum', 'subphylumid', 'originalScientificName', 'flags',
       'dropped', 'absence', 'Behavior_filled_eating',
       'Behavior_filled_migrating', 'Behavior_filled_resting'],
      dtype='object')

In [16]:
df_encoded.head()

,Unnamed: 0,dataset_id,id,aphiaid,areas,basisOfRecord,bathymetry,brackish,class,classid,...,subclassid,subphylum,subphylumid,originalScientificName,flags,dropped,absence,Behavior_filled_eating,Behavior_filled_migrating,Behavior_filled_resting
0,0,a198615f-05a3-4543-adc0-5a03ff1ba8f0,a4335478-0603-47a5-9e9c-7f4e08d9f90d,313100,"[238, 10266, 40034, 34275]",HumanObservation,25.0,True,Elasmobranchii,10193,...,368407,Vertebrata,146419,Stegostoma fasciatum,[NO_DEPTH],False,False,0,1,0
1,1,a198615f-05a3-4543-adc0-5a03ff1ba8f0,d1b25407-a2e5-4dca-b681-dde7adeaaace,105789,"[59, 60, 10053, 10101, 20001]",HumanObservation,119.0,False,Elasmobranchii,10193,...,368407,Vertebrata,146419,Carcharhinus falciformis,[NO_DEPTH],False,False,0,1,0
2,2,a198615f-05a3-4543-adc0-5a03ff1ba8f0,875f115c-d422-47c9-8fdc-5422f777a752,214557,"[70, 85]",HumanObservation,-3.0,False,Elasmobranchii,10193,...,368407,Vertebrata,146419,Triaenodon obesus,"[NO_DEPTH, ON_LAND]",False,False,0,0,1
3,3,a198615f-05a3-4543-adc0-5a03ff1ba8f0,1fab5e50-4cd1-4bfc-a354-dd8cf6610cac,105721,"[70, 85]",HumanObservation,-10.0,True,Elasmobranchii,10193,...,368407,Vertebrata,146419,Negaprion,"[NO_DEPTH, ON_LAND]",False,False,0,0,1
4,4,a198615f-05a3-4543-adc0-5a03ff1ba8f0,c7678960-fb37-4297-9432-e740abad7980,214557,"[70, 85]",HumanObservation,-24.0,False,Elasmobranchii,10193,...,368407,Vertebrata,146419,Triaenodon obesus,"[NO_DEPTH, ON_LAND]",False,False,0,0,1

In [17]:
df_encoded.to_csv("ready_to_run.csv", index=True)